<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mage">
    <title>LoneDash</title>
    {% load static %}
    <link href="{% static 'icons/favicon.svg' %}" rel="icon" type="image/svg+xml" >
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/dashboard.rtl.css' %}" rel="stylesheet">
</head>