<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">LoneDash</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <!-- Left menu -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/dash/' %}active{% endif %}" href="{% url 'dash' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/pages/' %}active{% endif %}" href="{% url 'pages' %}">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/posts/' %}active{% endif %}" href="{% url 'posts' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/users/' %}active{% endif %}" href="{% url 'users' %}">Users</a>
        </li>
      </ul>

      <!-- Right menu -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <span class="nav-link disabled">Welcome, Mage</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
