<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Admin Area | Dashboard{% endblock %}</title>
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <script src="http://cdn.ckeditor.com/4.6.1/standard/ckeditor.js"></script>
</head>

<body>

  {% block navbar %}
    {% include "includes/navbar.html" %}
  {% endblock %}

  {% block content %}
   
  {% endblock %}

  {% block footer %}
    {% include "includes/footer.html" %}
  {% endblock %}

  <script>
    CKEDITOR.replace('editor1');
  </script>

  {% block scripts %}
    {% include "includes/scripts.html" %}
  {% endblock %}

</body>
</html>
