<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

{% block head %}
{% include "includes/head.html" %}
{% endblock %}

<body>
    {{ icons_svg|safe }}

    {% block navbar %}
    {% include "includes/navbar.html" %}
    {% endblock %}

<div class="container-fluid">
  <div class="row">
    {% block sidebar %}
    {% include "includes/sidebar.html" %}
    {% endblock %}

    {% block content %}
    {% endblock %}

  </div>
</div>

    {% block scripts %}
    {% include "includes/scripts.html" %}
    {% endblock %}

    {% block page_scripts %}
    {% endblock %}
</body>

</html>