{% extends "base.html" %}

{% block title %}Securities{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="mb-0">Securities</h2>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4 class="mb-0">Securities</h4>
        <button type="button" class="btn btn-sm btn-outline-primary" id="btn-add-security">+ Add New</button>
    </div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                    <th scope="col">Exchange</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Close</th>
                    <th scope="col">Date</th>
                    <th scope="col">API</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for security in securities %}
                <tr>
                    <td>{{ security.id }}</td>
                    <td>{{ security.code }}</td>
                    <td>{{ security.exchange }}</td>
                    <td>{{ security.name}}</td>
                    <td>{{ security.type}}</td>
                    <td>{{ security.last_close|floatformat:2 }}</td>
                    <td>{{ security.last_close_date  }}</td>
                    <td>{{ security.api_source}}</td>
                    <td>
                        <button class="btn btn-sm btn-link text-danger btn-delete-security"
                            data-id="{{ security.id }}">Delete</button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9" class="text-center">No security found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Pagination for transactions -->
    <nav>
        <ul class="pagination pagination-sm justify-content-center">
            {% if securities.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ securities.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}

            {% for num in securities.paginator.page_range %}
            <li class="page-item {% if securities.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if securities.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ securities.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
        </ul>
    </nav>
</main>

<div id="modal-container"></div>
{% endblock %}

{% block page_scripts %}
{% load static %}
<script src="{% static 'js/securities.js' %}"></script>
{% endblock %}

