<!-- Modal -->
<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="account-form" method="post" action="{% if account_form.instance.pk %}{% url 'api_account_update' account_form.instance.pk %}{% else %}{% url 'api_account_create' %}{% endif %}">        
        <div class="modal-header">
          <h5 class="modal-title" id="addAccountLabel">New Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          {{ account_form.as_p }} <!-- hoặc render thủ công từng field nếu muốn -->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="account_submit">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>