:root {
  --night: #111111;
  --indian-red: #db5461;
  --baby-powder: #fdfffc;
  --wheat: #efd6ac;
}

body {
  background-color: var(--night);
  color: var(--baby-powder);
  font-size: 0.875rem; /* 14px */
}

.navbar {
  background-color: var(--indian-red);
  color: var(--baby-powder);
}

a.nav-link{
  text-decoration: underline;
}

a.nav-link:hover, a.navbar-brand:hover {
  text-decoration: none;
}
