body {
  background-color: #111;
  color: #aaa;
  font-family: system-ui, sans-serif;
}

.card,.btn{
  background-color: #111;
  color: #aaa;
  border: 1px solid #444;
}

.navbar{
  background-color: #111;
  color: #aaa;
  border: none;
  border-bottom: 1px solid #444;
}

.navbar .navbar-brand,
.navbar .nav-link,
.navbar .nav-item {
  color: #aaa;
}

.navbar .nav-link:hover {
  color: #eee;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


footer {
  background-color: #111;
  color: #aaa;
  border-top: 1px solid #444 !important;
}

footer small {
  color: #888; /* nhẹ nhàng hơn text chính */
}
